<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
</head>
<body>

<h1><%= link_to 'Tic Tac Toe', root_path %></h1>

<%= render 'layouts/login' %>

<nav>
 <%= render 'layouts/navbar' %>
</nav>

<%= yield %>


<footer>
  <%= render 'layouts/navbar' %>
</footer>

</body>
</html>
