<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<p>
  <b>Picture:</b>
  <%#= image_tag @user.picture.url %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Previous Game:  
  <% @games.each do |game|%>
    <%= if game.winner_id == current_user.id 
          "Win;" 
          
        elsif game.winner_id && game.winner_id != current_user.id
          "Loss; " 
        elsif game.winner_id.nil?
           # link_to "unfinished game", game
        end

    %></b>
  <% end %>
</p>

<p>
  <b>Win %:</b>
  
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
