<h1>Choose Users</h1>
<%= form_for(@game) do |f| %>
   <%= f.label 'player 1' %>
  <%= f.select :user_id, options_for_select([@cuser.name])%>
  
  <%= f.label 'player 2' %>
  <%= f.select :player2_id, options_for_select(['Guest', 'Computer', @cuser.name])  %>
  <br>
  <%= f.submit 'Play Game' %>
<% end %>