<h1>Playing Game</h1>

<%= render 'table' %>

<p>
<b>Comp move</b>
  <% moves = [1..9] %>
  <% comp_move = [*1..9].sample %>
</p>
<!--  computro move changes every time -->

<p>
  <b>Past Moves</b>
  <% @move.each do |move| %>
   <%= move.square_id %>
   <%= comp_move %>
  <% end %>

  <br>

<b>Symbol</b>
  <% @move.each do |move| %>
    <% square = move.square_id %>
      <% if ["1", "2", "3", "4"].include? square %>
        X
      <% else %>
        0
      <% end %>  
  <% end %>
</p>

<p><%= link_to 'New Game', new_game_path %></p>

<p><%= link_to 'Delete Game', @game, method: :delete  %></p>
